<h1>Edit Potato</h1>

<%= form_for(@potato) do |f| %>

  <div><%= f.label :name %> <br>
      <%= f.text_field :name %>
  </div> <br>

  <div><%= f.label :eyes %> <br>
      <%= f.number_field :eyes %>
  </div> <br>

  <%= f.submit %>

<% end %>

<%= link_to "Back", potatos_path %> | <%= link_to "Show", potatos_path(@potato) %>
